@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-slate-900;
  }
}

/* google fonts */
/* Ubuntu */
/* Roboto */
/* Opens Sans */

@layer utilities {
  /* hamburger menu */
  .line:before {
    content: '';
    background-color: #00798f;
    display: block;
    margin-top: 5px;
    width: 25px;
    height: 3px;
  }

  /* contact form*/
  .input {
    @apply w-full rounded border border-primary pl-2 focus:border-cool focus:outline-none;
  }

  .contact-me-btn {
    @apply mt-2 rounded border-2 border-primary px-12 py-2 transition duration-200 ease-out hover:bg-accent focus:shadow-none focus:outline-none dark:bg-slate-800 dark:hover:bg-slate-700 dark:hover:text-slate-200;
  }

  .decorate-form {
    @apply rounded-tl bg-accent pt-3 pl-3 dark:bg-slate-800;
  }
}
